* {
    margin: 0;
    padding: 0;
    cursor: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*
=================================
            PreLoader
=================================
*/
#preloader {
    background-color: #1f1c1d;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: all .75s ease;
    opacity: 1;
}

#preloader.preloaderremove {
    height: 0vh;
    opacity: 0;
}

.preloaderhide {
    visibility: hidden;
    display: none;
}

/*
=================================
            Cursor
=================================
*/
#cursor {
    border: 1px solid white;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 100;
    backdrop-filter: blur(.5px);
    position: absolute;
}

.cursor-big {
    scale: 2;
}

/*
=================================
            NavBar
=================================
*/
nav {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    margin-right: 25px;
}

.link2 {
    display: none;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    gap: 10px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

.name {
    min-width: 7.5em;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: #fc6d6d;
}

/* 
==================================================
                INTRODUCTION
==================================================
*/
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: 32.5rem;
}

.content p:nth-child(1) {
    font-size: 2rem;
}

.content p:nth-child(2) {
    font-size: 4rem;
}

.content p:nth-child(3) {
    font-size: 2.5rem;
}

.content p:nth-child(3) span {
    color: #fc6d6d;
}

.content p:nth-child(4) {
    font-size: 1.2em;
}

/*
=================================
        Bottom NavBar
=================================
*/
.bottomnavbar {
    height: 3em;
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 21em;
    z-index: 2;
}

.bottomnavbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40em;
    min-width: 21em;
    background-color: black;
    border: 1px solid red;
    border-radius: 10px;
}

.bottomnavbar a {
    color: white;
}

.bottomnavbar ul a:hover {
    color: #fc6d6d;
}

#active {
    color: #fc6d6d;
}

/*
=================================
      Social Media Link
=================================
*/
.socialmedia ul {
    list-style: none;
    position: absolute;
    margin-top: 77vh;
    margin-left: 2vh;
    position: fixed;
}

#github,
#linkedin,
#instagram {
    width: 30px;
}

/*
=================================
         About Me
=================================
*/
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    width: 90%;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px#fc6d6d;
    background: rgb(252, 109, 109);
    background: linear-gradient(90deg,
            rgba(252, 109, 109, 1) 0%,
            rgba(137, 97, 246, 1) 100%);
    position: relative;
    top: 100vh;
    height: 100%;
    padding-top: 2em;
}

.about-img {
    width: 100%;
    flex-basis: 40%;
}

.about-text h1 {
    margin-bottom: 1em;
    font-size: 50px;
}

.about-text {
    padding-left: 5em;
    flex-basis: 50%;
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
}

.about-text p {
    margin: 1em 0px 2em 0px;
}

/*
=================================
         Skills
=================================
*/
.skill {
    width: 100%;
    color: white;
    padding-top: 60px;
    position: relative;
    top: 100vh;
}

.skill-head,
.skill-subhead {
    text-align: center;
}

.skill-head {
    font-size: 4vh;
    color: #8961f6;
}

.skill-subhead {
    font-size: 5vh;
    font-weight: bold;
}

.skills {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left, #fc6d6d, #8961f6);
    background-clip: border-box;
    -webkit-background-clip: text;
}

.skill-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 70px;
}

.card {
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.223);
    background-repeat: no-repeat;
    border-radius: 10px;
}

.c1 {
    background-image: url(../Assets/Logo/html5-fill.svg);
    background-position-y: 20px;
}

.c2 {
    background-image: url(../Assets/Logo/css3-fill.svg);
    background-position-y: 20px;
}

.c3 {
    background-image: url(../Assets/Logo/javascript-fill.svg);
    background-position-y: 20px;
}

.c4 {
    background-image: url(../Assets/Logo/jquery-icon.svg);
}

.c5 {
    background-image: url(../Assets/Logo/reactjs-fill.svg);
    background-position-y: 20px;
}

.c6 {
    background-image: url(../Assets/Logo/C_Programming_Language.svg);
}

.c7 {
    background-image: url(../Assets/Logo/ISO_C++_Logo.svg);
}

.c8 {
    background-image: url(https://raw.githubusercontent.com/adrianhajdin/project_3D_developer_portfolio/main/src/assets/tech/git.png);
    background-position-y: 20px;
}

.c4,
.c6,
.c7,
.c8 {
    background-size: contain;
    background-position: bottom;
}

/*
=================================
            Project
=================================
*/
.project {
    position: relative;
    top: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.project-head {
    width: 100%;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left, #fc6d6d, #8961f6);
    background-clip: border-box;
    -webkit-background-clip: text;
}

.p1,
.p2,
.p3 {
    background-color: #212531;
    display: flex;
    justify-content: center;
    width: 80em;
    height: 31em;
    border-radius: 20px;
}

.p2 {
    flex-direction: row-reverse;
}


.ss-p1,
.ss-p2,
.ss-p3 {
    width: 90%;
    margin: 50px 0px 0px 15px;
    border-radius: 10px;
}

.ss-p2 {
    margin: 50px 0px 0px 40px;
}


.info-p1,
.info-p2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
}

.link-p1,
.link-p2 {
    display: flex;
    justify-content: end;
    margin: 20px 60px 0px 0px;
    gap: 20px;
}

.link-p2 {
    justify-content: start;
    margin: 20px 0px 0px 60px;
}

.git-p1,
.live-p1,
.git-p2,
.live-p2 {
    background-color: white;
    border-radius: 50%;
    width: 90px;
    text-align: right;
}

.head-p1,
.desc-p1,
.platform-p1,
.head-p2,
.desc-p2,
.platform-p2 {
    color: white;
    text-align: justify;
    margin-right: 60px;
}

.head-p2,
.desc-p2,
.platform-p2 {
    margin-left: 60px;
    margin-right: 0px;
}

.head-p1,
.head-p2 {
    font-size: 45px;
    font-weight: bold;
}

.platform-p1,
.platform-p2 {
    margin-top: 10px;
    word-spacing: 20px;
    font-weight: bold;
    font-size: 20px;
}

/*
=================================
          Contact US
=================================
*/
.contact {
    position: relative;
    top: 120vh;
    color: white;
    background: rgb(102, 68, 80);
    background: linear-gradient(90deg,
            rgba(102, 68, 80, 1) 0%,
            rgba(56, 74, 128, 1) 100%);
    box-shadow: 1px 1px 10px 1px#fc6d6d;
    margin-inline: auto;
    width: 90%;
    border-radius: 30px;
    min-height: 100vh;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

.contact-content {
    max-width: 800px;
    text-align: center;
}

.contact-content h1 {
    font-weight: 100;
    font-size: 15vh;
}

.contact-content p {
    font-size: 4vh;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contactinfo {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.touch h3 {
    font-size: 8vh;
}

.contact-icon {
    min-width: 22px;
    height: 22px;
}

.text {
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    flex-direction: column;
}

.contactform {
    width: 50%;
    padding: 20px 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 50px;
}

.formbox {
    position: relative;
    width: 100%;
}

.formbox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formbox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    margin-top: 10px;
    margin-bottom: 5px;
}

.inputBox input {
    padding: 10px;
    font-size: 0.9em;
    margin-left: 20px;
    border: 1px solid #333;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    overflow: hidden;
}

.inputBox textarea {
    padding: 10px;
    margin-left: 20px;
    font-size: 0.9em;
    outline: none;
    border-radius: 4px;
    overflow: visible;
    resize: none;
    min-height: 150px;
    margin-bottom: 10px;
}

.inputBox input[type="Submit"] {
    color: white;
    border-radius: 10px;
    background: rgb(252, 109, 109);
    background: linear-gradient(90deg,
            rgba(252, 109, 109, 1) 0%,
            rgba(137, 97, 246, 1) 100%);
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox::placeholder {
    color: #999;
}

/*
=================================
            Footer
=================================
*/

.wrapper {
    position: relative;
    top: 120vh;
    background-color: #0e1016;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    width: 100%;
    height: 50px;
    padding-inline: 2em;
    gap: 20px;
}

.wrapper a {
    color: white;
}

.hide {
    visibility: hidden;
}

.black {
    background-color: rgba(0, 0, 0, 0.5);
}